h1 {
	font-family: 'Frank Ruhl Libre', serif;
}

body {

}

html {
	background-color: #FAFAFA;
}

header {
	text-align: center;
	background-color: #FAFAFA;

}

header #name {
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 70px;
	color: #212121;
}

.scroller .inner {
	font-family: 'Hind Vadodara', sans-serif;
}