body {

}

html {
	overflow-x: hidden;
	background-color: #FAFAFA;
}

a{
	-o-transition:.3s;
	-ms-transition:.3s;
	-moz-transition:.3s;
	-webkit-transition:.3s;
	transition:.3s;
}

/* NAVIGATION BAR */
#main-navbar{
	background-color: #FAFAFA;
	border: 0;
	padding: 15px;
	margin: 0;
}

#main-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#main-navbar li {
	display: inline;
}

#main-navbar a{
	color: #212121;
	font-size: 20px;
	font-family: 'Hind Vadodara', sans-serif;
	text-transform: uppercase;
}

#main-navbar .active > a{
	background-color: inherit;
}

#main-navbar a:hover{
	color: #607D8B;

	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#main-navbar li:hover{
	margin-bottom: -1px;
	border-bottom: 1px solid #607D8B;
}

/* HEADER */
header {
	background-color: #FAFAFA;
	width: 100%;
	height: 0;
	padding-top: 70px;
	padding-bottom: 200px;

}

header #name {
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 110px;
	color: #212121;
	margin: 0;
	padding-left: 100px;
}

.scroller .inner {
	font-family: 'Hind Vadodara', sans-serif;
}