/***************************

PORTFOLIO WEBSITE STYLE GUIDE

Table of Content
1. General Style Guide
2. Homepage/About Me
3. Projects

Accent color - Light red (#F15856)
Imports:
	1. Social media icons for About Me

***************************/

body {
	color: #4F4F4F;
	background-color: #FFFFFF;
	margin: 0;
}

h1, h2, h3, h4, p, a, li {
	font-family: 'Montserrat', sans-serif;
}

h1, h2 {
	font-weight: bold;
}

p {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #F15856;
}

/***************************
		2. HOMEPAGE
***************************/

/****** GENERAL ********/
.container {
	padding: 60px 80px;
	margin: 0px 50px;
}

.mast-head-container {
	height:  80px;
	width: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	background: #FFFFFF;
}

.mast-head-container ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	overflow: hidden;
	float: right;
	align-items: center;
	margin-right: 40px; 
}

.mast-head-container li {
	padding: 25px 20px;
	float: left;
	justify-content: center;
}

.mast-head-container li a {
	color: inherit;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
}

.mast-head-container li a:active {
	color: : #F15856;
}

.mast-head-container li a:hover {
	color: #F15856;
	transition: .2s;
}


/***** HEADER *****/
#homepage-header {
	height: 500px;
	padding: 60px 80px;
}

.header-container {
	position: relative;
	top: 10%;
	width: 60%;
	padding: 30px 30px;
	margin: 0 auto;
}

#homepage-header h1 .name {
	color: #F15856;
}

/***** SOCIAL MEDIA BUTTONS *****/
#social-links {
	margin-top: 80px;
}

#social-links ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	overflow: hidden;
	float: right;
	align-items: center;
}

#social-links li {
	margin: 0;
	padding: 5px;
	list-style: none outside none;
	display: inline-block;
	float: left;
}

#social-links li a {
	color: #BDBDBD;
}

#social-links li a:hover {
	color: #F15856;
	transition: .2s;
}

/***************************
		3. PROJECTS 
***************************/

.projects-header {
	height: 100px;
	padding: 100px 40px 10px 40px;
	margin: 0px 50px;
	text-align: center;
}


.projects-container {
	padding: 60px 40px;
	margin: 0px 50px;
}

.projects-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
/*	justify-content: space-around;
*/	align-items: flex-start;
	justify-content: center;
}

.projects-col {
	position: relative;
	height: 320px;
	width: 480px;
	padding: 0;
	margin: 20px 20px;
}

.projects-col img {
	display: block;
	width: 100%; 
	height: 100%;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .4s ease;
	background-color: #FAFAFA;
}

.projects-col:hover .overlay {
	opacity: .85;
}

.overlay-text {
	color: #4F4F4F;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*.projects-row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.projects-item {
	background-color: #212121;
	padding: 10px 15px;
	margin: 20px 0px;
	width: 400px;
	height: 160px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  	transition: all 0.3s ease-in-out;
}

.projects-item:hover {
	transform: scale(1.1, 1.1);
}

.projects-item h2 {
	color: #FAFAFA;
	margin: 10px 0px;
}

.projects-item p .divider {
	color: #FAFAFA;
	margin: 5px 0px;
}

.projects-item p {
	color: #616161;
}*/


/***************************
		4. INDIVIDUAL PROJECT PAGES
***************************/

/* GENERAL STYLING */ 
.indv-project-container {
	justify-content: center;
	padding: 60px 80px;
}

.indv-project-container img {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

/* DOT LABS */

/* NUMERICCAL */
.numericcal-photo {
	position: relative;
	width: 500px;
	height: 300px;
	margin: auto;
	padding: 0;
}

.numericcal-photo img {
	display: block;
	width: 100%; 
	height: 100%;
}

.numericcal-photo:hover .overlay {
	opacity: .85;
}